body {
background: url('Slike/bg.png') 40% 0 scroll transparent;
}
.bs_body {
	display: inline-block;
	width: 100%;
	float: left;
	background: url('Slike/pozadina-narancasta.jpg') repeat 50% 0 fixed;
}
div.header {
	
	font-family: times ;
	font-size: 20 ;
	text-align: center;
	text-transform: uppercase;
	height: 100px;
}
#header2 {
	padding-top: 10px;
	font-family: times ;
	font-size: 20 ;
	text-align: center;
	text-transform: uppercase;
	height: 100px;
}
.gore_nav {
	position: relative;
	clear: both;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.pregled_robe {
border-width: 1px;
	padding: 4px;
	border-color:  #202020 ;
	border-style: solid;
	background-color: #E8E8E8 ;
	text-align: center;
}

table.narudzba {
font-family: times, georgia ;
border-width: 1px;
	padding: 7px;
	border-color: #101010  ;
	border-style: solid;
	background-color: #E8E8E8 ;
}

table.statistika {
font-family: times, georgia ;
border: 1;
border-color: #300000;
	padding: 5px;
	font-size: 16px ;
	border-style: solid;
	background-color: #CCFFFF ;
}
a:link {
display: block;
width:20%;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:underline;
text-transform:none;
}
a:visited {
display:block;
width:200px;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:underline;
text-transform:none;
}
a:hover {
	text-decoration : underline;
	font-size: 14px;
	font-weight: bold;
	color : #FFFF00;
	background-color:#7A991A;
}
a:active {
	text-decoration : none;
	font-size: 14px;
	font-weight: bold;
	color : #FFFF00;
	background-color: white;
}
a.veza:link {
display: inline;
width:100%;
color:#FFFFFF;
background-color:#4CAF50;
text-align:center;
padding:4px;
text-decoration:underline;
text-transform:none;
}
a.veza:visited {
display:inline;
width:200px;
background: transparent;
background-color:none;
text-align:center;
padding:4px;
text-decoration:underline;
text-transform:none;
}
a.veza:hover {
text-decoration : none;
	font-size: 16px;
	font-weight: bold;
	color : #FFFF00;
	background-color:#555;
}
a.veza:active {
text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color : #FFFF00;
	background-color: white;
}
textarea.vjezba {
	width: 100px;
	height: 300px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
.nav{
	background-color: #008B8B;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:5px;
    padding:5px;
    text-align:center;
}
.nav li{
    display:inline;
    padding:10px;
}
.nav a{
    display:inline-block;
    padding: 5px;
}
.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.left_bar {
float: left;
background-color: #008B8B; 
border: 1px solid black;
width: 20%;
padding: 10px;
margin-top: 10px;
font-size: 16;
text-decoration: underline;
}
.content {
float: left;
left: 20%;
border: 1px solid black;
padding: 5px;
margin-top: 10px;
font-size: 16 ;
width: 77%;
}